<p>These pets are looking for a home!</p>
<a class="nav-link" [routerLink] = "['pets/new']">Add a pet to the shelter</a>




<table class="table table-striped" *ngIf="pets">
    <thead >
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody *ngFor="let prod of pets">
      <tr>
        <td>{{prod.name}}</td>
        <td>{{prod.type}}</td>
        <td>               
            <a [routerLink] = "['pets/show', prod._id]" class="btn btn-danger btn-sm text-white">Details</a>
            <a [routerLink] = "['pets/edit', prod._id]" class="btn btn-primary btn-sm" style="margin-left: 15px;">Edit</a>
        </td>
      </tr>

    </tbody>
  </table>






